<h2>New job</h2>

<h3>Create a Job from linkedin</h3>
<%= form_tag '/job/create_from_linkedin' do %>
  <%= text_field_tag "job_url", nil, placeholder: "Job URL" %><br><br>
  <%= submit_tag "Create Job from LinkedIn", class: "btn btn-success"  %>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', jobs_path %>
