<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.first_name %> <%= @contact.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Primary phone:</strong>
  <%= @contact.primary_phone %>
</p>

<p>
  <strong>Secondary phone:</strong>
  <%= @contact.secondary_phone %>
</p>

<p>
  <strong>Title:</strong>
  <%= @contact.title %>
</p>

<p>
  <strong>Company:</strong>
  <%= @contact.company_id %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
